.label {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: fit-content;

  margin-bottom: 15px;
}
.input {
  max-width: 145px;
  padding-block: 3px;
  padding-inline: 2px 15px;

  border: 1px solid rgb(184, 184, 184);
  width: 150px;
}
.input:focus-visible {
  outline: 1px solid rgb(33, 176, 243);
}
