.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-left: 35px;

  font-size: 0.9rem;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.item::before {
  content: '';
  position: absolute;
  left: -25px;
  top: 3px;
  width: 18px;
  height: 18px;
  aspect-ratio: 1;
  background-image: url('/src/images/contacts.svg');
}
@media screen and (min-width: 320px) {
  .list {
    font-size: 1rem;
  }
}

.phone-number {
}
.btn {
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  padding: 0;
  margin-left: 5px;

  border: 1px solid transparent;
  background: url(/src/images/delete.svg);

  transition: border-bottom 150ms;
}
.btn:hover {
  border-bottom: 1px solid #fa8517;
}
.btn:active {
  transform: scale(0.9);
}
